fastapi
uvicorn
python-multipart
python-dotenv
google-genai
chromadb
sentence-transformers
langchain-text-splitters
langchain-core
langgraph
pymupdf4llm
python-pptx
python-docx
rank-bm25
streamlit
requests